// ================================
// Home
// ================================

.home h1 {
	font-size: 4rem;
}

.cover {
	text-align: center;
	background: #000;
	position: relative;
	overflow: hidden;
}

.cover > div {
	padding: 4em 0;
	background-size: cover;
	position: relative;
	z-index: 1;
	transition: all .2s;
	@include breakpoint(medium) {
		padding: 20vw 0;
	}
	h2 {
		color: $white;
		// opacity: 0;
		// transition: all .5s;
	}
	&:after {
		content: '';
		background: black;
		position: absolute;
		z-index: -1;
		transition: all .4s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.3;
	}
	&:hover {
		// h2 {
		// 	opacity: 0;
		// 	transition: all .4s;
		// }
		&:after {
			opacity: 0;
		}
	}
}

.cover__3d { background: url(../img/covers/serenity.jpg) center center no-repeat; }
.cover__web { background: url(../img/covers/web.jpg) center center no-repeat; }
.cover__lowpolymemphis { background: url(../img/covers/lpm.jpg) center center no-repeat; }
.cover__memphis { background: url(../img/covers/memphis.jpg) center center no-repeat; }

// ================================
// Project page
// ================================

.mark {
	img {
		width: 75px;
		margin-bottom: 2em;
		@include breakpoint(medium) {
			margin-bottom: 3em;
		}
		transition: all .2s ease;
	}
	&:hover img {
		transform: scale(1.1);
		transition: all .2s ease;
	}
}

.project main {
	padding: 0 2em;
	text-align: center;

	// Make images not draggable
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.project main img,
.project main a {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 1100px;
	&:not(:last-of-type) {
		margin-bottom: 10vw;
	}
}

// ================================
// 404
// ================================

.error {
	text-align: center;
	padding: 5vw 2em 0;
	h1 {
		margin-bottom: 2rem;
	}
	img {
		max-width: 300px;
		margin-bottom: 2rem;
	}
}