audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

html {
  min-height: 100%;
}

body {
  font-family: 'eina01';
  font-size: 100%;
  line-height: 1.6;
  color: $black;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
