// Utility
// ------------------------

// Clearfix
.cf {
    @include clearfix;
}

// Hide elements visually
.hide-vis {
    position: absolute !important;
    overflow: hidden;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// Hide and show elements
.hide {
    display: none !important;
    visibility: hidden !important;
}

// Text align
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
