// Variables
// ------------------------

// Features
// ------------------------

// Debugging
$enable-debugging: false;

// Animations (for use with inview.js)
$enable-animations: true;


// Colors
// ------------------------
$black: #181A1C;
$black-light: lighten($black, 15%);
$silver: #CDD3D9;

$white: #ffffff;


// Fonts
// ------------------------

// Primary font
$font: 'AvantGardeLT-Medium', Helvetica, Arial, sans-serif;

// Layout/Grid
// ------------------------
$min-width: 320px;
$max-width: 1100px;

// Breakpoint map
$breakpoints: (
    xxs: (
        min: 0,
        max: $min-width
    ),
    xs: (
        min: $min-width + 1px,
        max: 480px
    ),
    s: (
        min: 481px,
        max: 640px
    ),
    m: (
        min: 641px,
        max: 1024px
    ),
    l: (
        min: 1025px,
        max: $max-width
    ),
    xl: (
        min: $max-width + 1px,
        max: 1920
    )
);

// Breakpoint variables
$bp-xxs: map-get(map-get($breakpoints, xxs), max);
$bp-xxs-min: map-get(map-get($breakpoints, xxs), min);
$bp-xxs-max: map-get(map-get($breakpoints, xxs), max);
$bp-xs: map-get(map-get($breakpoints, xs), max);
$bp-xs-min: map-get(map-get($breakpoints, xs), min);
$bp-xs-max: map-get(map-get($breakpoints, xs), max);
$bp-s: map-get(map-get($breakpoints, s), max);
$bp-s-min: map-get(map-get($breakpoints, s), min);
$bp-s-max: map-get(map-get($breakpoints, s), max);
$bp-m: map-get(map-get($breakpoints, m), max);
$bp-m-min: map-get(map-get($breakpoints, m), min);
$bp-m-max: map-get(map-get($breakpoints, m), max);
$bp-l: map-get(map-get($breakpoints, l), max);
$bp-l-min: map-get(map-get($breakpoints, l), min);
$bp-l-max: map-get(map-get($breakpoints, l), max);
$bp-xl: map-get(map-get($breakpoints, xl), max);
$bp-xl-min: map-get(map-get($breakpoints, xl), min);
$bp-xl-max: map-get(map-get($breakpoints, xl), max);

// Media Queries
$bp-media-queries: (
    xxs-max: "(max-width: #{$bp-xxs-max})",
    xxs-only: "(min-width: #{$bp-xxs-min}) and (max-width: #{$bp-xxs-max})",
    xxs: "(min-width: #{$bp-xxs-min})",
    xs-max: "(max-width: #{$bp-xs-max})",
    xs-only: "(min-width: #{$bp-xs-min}) and (max-width: #{$bp-xs-max})",
    xs: "(min-width: #{$bp-xs-min})",
    s-max: "(max-width: #{$bp-s-max})",
    s-only: "(min-width: #{$bp-s-min}) and (max-width: #{$bp-s-max})",
    s: "(min-width: #{$bp-s-min})",
    m-max: "(max-width: #{$bp-m-max})",
    m-only: "(min-width: #{$bp-m-min}) and (max-width: #{$bp-m-max})",
    m: "(min-width: #{$bp-m-min})",
    l-max: "(max-width: #{$bp-l-max})",
    l-only: "(min-width: #{$bp-l-min}) and (max-width: #{$bp-l-max})",
    l: "(min-width: #{$bp-l-min})",
    xl-max: "(max-width: #{$bp-xl-max})",
    xl-only: "(min-width: #{$bp-xl-min}) and (max-width: #{$bp-xl-max})",
    xl: "(min-width: #{$bp-xl-min})",
);
