.error404 {
  padding: 10vw 1rem;

  @include bp(l) {
    padding: 7vw 1rem;
  }

  .page__title {
      margin-bottom: 1rem;
  }

  img {
    margin: 2rem auto;
    width: 300px;
    max-width: 80%;
  }

  a {
    text-decoration: underline;
  }

}
