@include bp(m) {
  .project-flex {
    display: flex;
    align-items: center;
    padding: 5vw 2rem;
  }

  .project-flex__item {
      width: 50%;
  }
}

.project-link {
  text-align: center;

  @include bp(m) {
    text-align: left;

    .project-flex:nth-of-type(odd) & {
      text-align: right;
    }
  }
}

.project-cover {
  text-align: center;
  position: relative;
}

.project-cover figure {
  position: relative;

  @include bp(m) {
    text-align: left;
  }
}

.project-cover img {
  margin-bottom: 1rem;
  pointer-events: none;
  max-height: 300px;
  width: auto;
  margin-top: 10vmin;

  @include bp(m) {
    margin-top: 0;
    max-height: 400px;
    width: auto;
  }

  @include bp(l) {
    margin-bottom: 0;
    max-height: none;
    width: 100%;
    height: auto;
  }
}

.project-flex:nth-of-type(even) {
  .project-cover { order: 2; }
  .project-link { order: 1; }
}


#lottie {
  height: 300px;
  width: auto;
  margin-top: 10vmin;

  @include bp(m) {
    height: 400px;
    margin-top: 0;
  }
}


@include bp(m) {
  .cover__web {
    margin-bottom: 0;
    width: 400px;
    height: auto;
  }
  .cover__lowpoly {
    left: -200px;
    width: 800px;
    height: auto;
  }
  .cover__lettering {
    width: 400px;
    right: -50px;
    height: auto;
  }
}

@include bp(l) {
    .cover__lettering {
      width: 400px;
      right: -200px;
      height: auto;
    }
}
