<footer class="footer">
    <div class="container">
        <ul class="list--inline">
            <li><a href="https://www.behance.net/andrewmillen" target="_blank" title="Andrew Millen on Behance">Behance</a></li>
            <li><a href="http://www.dribbble.com/andrewmillen" target="_blank" title="Dribbble - Andrew Millen">Dribbble</a></li>
            <li><a href="http://twitter.com/andrewsmillen" target="_blank" title="@andrewsmillen">Twitter</a></li>
        </ul>
        <small>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</small>
    </div>
</footer>

<script src="{{ '/dist/js/head.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ '/dist/js/vendor.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ '/dist/js/main.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>

{% include js/google-analytics.js %}
